name: Build and Push Docker Image to ECR

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Login to Amazon ECR
      uses: aws-actions/amazon-ecr-login@v2

    - name: Build and Push Image
      run: |
        docker build -t login-page-httpd:latest .
        docker tag login-page-httpd:latest \
          787169319732.dkr.ecr.ap-south-1.amazonaws.com/login-page-httpd
        docker push \
          787169319732.dkr.ecr.ap-south-1.amazonaws.com/login-page-httpd:latest
